<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

<!-- Top Navbar-->
<div class="navbar bg-yellow">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link color-white">
                返回
            </a>
        </div>
        <div class="center sliding"><%=title%></div>
        <div class="right">
            <a href="#" class="link icon-only scanner"><i class="ion-qr-scanner color-white"></i></a>
        </div>
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="detail" class="page toolbar-fixed">
        <div class="page-content">
            <!-- slider start -->
            <div class="slider-container slider-init" data-speed="400" data-pagination=".slider-pagination" data-loop="true">
                <div class="slider-wrapper">
                    <%for(var i=0;i<product.product.images.length;i++){img=product.product.images[i]%>
                    <div class="slider-slide"><img src="<%=img.url%>"></div>
                    <%}%>
                </div>
            </div>
            <!-- slider end -->
            <div class="content-block-title">产品详情</div>
            <div class="content-block">
                <div class="content-block-inner">
                    <%-product.product.content%>
                </div>
            </div>
        </div>
        <div class="toolbar tabbar">
            <div class="row">
                <div class="col-30">
                    <a href="#" class="button button-submit">预定</a>
                </div>
                <div class="col-70">
                    合计:￥999
                </div>
            </div>
        </div>
    </div>
</div>

